<a href="https://colab.research.google.com/github/jadesola123/hamoye-stageA/blob/main/FoodSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [18]:
url='https://raw.githubusercontent.com/jadesola123/hamoye-stageA/main/FoodBalanceSheets_E_Africa_NOFLAG.csv'
FoodSheet= pd.read_csv(url, encoding='latin-1')
FoodSheet.shape

(60943, 12)

In [10]:
FoodSheet.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
#Cleaning data
#dropping Null values
FoodSheet.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [20]:
FoodSheet[['Y2014']]= FoodSheet[['Y2014']].fillna(value='mcf')
FoodSheet[['Y2015']]= FoodSheet[['Y2015']].fillna(value='mcf')
FoodSheet[['Y2016']]= FoodSheet[['Y2016']].fillna(value='mcf')
FoodSheet[['Y2017']]= FoodSheet[['Y2017']].fillna(value='mcf')
FoodSheet[['Y2018']]= FoodSheet[['Y2018']].fillna(value='mcf')

In [21]:
FoodSheet.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64