<a href="https://colab.research.google.com/github/jadesola123/hamoye-stageA/blob/main/FoodSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [87]:
url='https://raw.githubusercontent.com/jadesola123/hamoye-stageA/main/FoodBalanceSheets_E_Africa_NOFLAG.csv'
FoodSheet= pd.read_csv(url, encoding='latin-1')
FoodSheet.shape

(60943, 12)

In [88]:
FoodSheet.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [91]:
#Cleaning data
#dropping Null values
FoodSheet.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [92]:
FoodSheet[['Y2014']]= FoodSheet[['Y2014']].fillna(value=0)
FoodSheet[['Y2015']]= FoodSheet[['Y2015']].fillna(value=0)
FoodSheet[['Y2016']]= FoodSheet[['Y2016']].fillna(value=0)
FoodSheet[['Y2017']]= FoodSheet[['Y2017']].fillna(value=0)
FoodSheet[['Y2018']]= FoodSheet[['Y2018']].fillna(value=0)

In [93]:
FoodSheet.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [94]:
animalfat_2014= FoodSheet.groupby('Y2014').agg({'Item': 'sum'})
print(animalfat_2014)
animalfat_2014.tail(50)

                               Item
Y2014
-1796.0        Beverages, Fermented
-1631.0         Alcoholic Beverages
-849.0        Sugar CropsSugar cane
-838.0                Starchy Roots
-685.0     Cereals - Excluding Beer
...                             ...
 90425.0                 Population
 98094.0                 Population
 108756.0             Starchy Roots
 109593.0             Starchy Roots
 176405.0                Population

[4493 rows x 1 columns]

                                              Item
Y2014
17789.0                       Cassava and products
17798.0                       Cassava and products
18383.0                                Sugar Crops
18614.0                                 Vegetables
19240.0                                 Population
19436.0                                 Vegetables
19532.0                         Wheat and products
19582.0                   Cereals - Excluding Beer
19818.0                                Animal fats
20000.0                                       Yams
22648.0                                 Population
22682.0                                 Population
23328.0                   Cereals - Excluding Beer
23590.0                                 Population
23608.0                   Cereals - Excluding Beer
23610.0                   Cereals - Excluding Beer
24151.0                       Cassava and products
24169.0                   Cereals - Excluding Beer
24370.0                                Sugar Crops
24517.0                   Cereals - Excluding Beer
24888.0                   Cereals - Excluding Beer
26286.0                                 Population
26355.0                              Starchy Roots
26641.0                              Starchy Roots
26942.0                                 Population
27101.0                                Sugar Crops
27224.0                                 Population
27938.0                       Cassava and products
29797.0                              Starchy Roots
31480.0                   Cereals - Excluding Beer
32373.0                                Animal fats
34192.0                                 Population
36912.0                                 Population
37978.0                                 Population
38923.0                   Cereals - Excluding Beer
38924.0                                 Population
39686.0                                Animal fats
40144.0                                Animal fats
44151.0                                       Yams
45152.0                                       Yams
46700.0                                 Population
49014.0                              Starchy Roots
49961.0                                 Population
54544.0                                 Population
56328.0   Cassava and productsCassava and products
90425.0                                 Population
98094.0                                 Population
108756.0                             Starchy Roots
109593.0                             Starchy Roots
176405.0                                Population

In [95]:
animalfat_2017= FoodSheet.groupby('Y2017').agg({'Item': 'sum'})
print(animalfat_2017)
animalfat_2017.tail(50)

                              Item
Y2017
-1582.0      Sugar CropsSugar beet
-1200.0       Cassava and products
-1159.0              Starchy Roots
-865.0                    Oilcrops
-860.0     Groundnuts (Shelled Eq)
...                            ...
 96443.0                Population
 106400.0               Population
 112625.0            Starchy Roots
 117702.0            Starchy Roots
 190873.0               Population

[4537 rows x 1 columns]

                              Item
Y2017
18627.0   Cereals - Excluding Beer
18942.0   Cereals - Excluding Beer
19003.0       Cassava and products
19009.0       Cassava and products
19193.0                 Population
21602.0                 Population
22174.0                Sugar Crops
22925.0   Cereals - Excluding Beer
23000.0                       Yams
23292.0       Cassava and products
24437.0                 Population
24566.0                 Population
25260.0   Cereals - Excluding Beer
25571.0                 Population
25721.0   Cereals - Excluding Beer
25885.0   Cereals - Excluding Beer
26243.0                Sugar Crops
26835.0   Cereals - Excluding Beer
27314.0       Cassava and products
27335.0   Cereals - Excluding Beer
27828.0                Sugar Crops
28401.0              Starchy Roots
28425.0              Starchy Roots
28649.0                 Population
29121.0                 Population
29580.0              Starchy Roots
29817.0                 Population
32690.0   Cereals - Excluding Beer
34515.0                Animal fats
34641.0                Animal fats
35581.0                 Population
38348.0                Animal fats
40813.0                 Population
41167.0                 Population
41222.0   Cereals - Excluding Beer
41389.0                 Population
49083.0                       Yams
50221.0                 Population
51220.0              Starchy Roots
51864.0                Animal fats
54083.0                       Yams
54660.0                 Population
55069.0       Cassava and products
55072.0       Cassava and products
57010.0                 Population
96443.0                 Population
106400.0                Population
112625.0             Starchy Roots
117702.0             Starchy Roots
190873.0                Population

In [ ]:
#unique countires in dATaset

In [96]:
FoodSheet.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000,60943.000000
mean,134.265576,2687.176706,3814.856456,130.697309,131.800867,133.115742,137.435459,140.371002
std,72.605709,146.055739,2212.007033,1547.238889,1583.051810,1619.362692,1651.220515,1690.647217
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.050000,0.040000,0.040000,0.050000,0.040000
75%,195.000000,2775.000000,5511.000000,8.000000,8.000000,8.000000,8.000000,8.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [97]:
print(FoodSheet[['Element Code','Y2014']].corr())
print(FoodSheet[['Element Code','Y2015']].corr())
print(FoodSheet[['Element Code','Y2016']].corr())
print(FoodSheet[['Element Code','Y2017']].corr())
print(FoodSheet[['Element Code','Y2018']].corr())

              Element Code     Y2014
Element Code      1.000000  0.022985
Y2014             0.022985  1.000000
              Element Code     Y2015
Element Code      1.000000  0.022415
Y2015             0.022415  1.000000
              Element Code    Y2016
Element Code       1.00000  0.02191
Y2016              0.02191  1.00000
              Element Code     Y2017
Element Code      1.000000  0.022711
Y2017             0.022711  1.000000
              Element Code     Y2018
Element Code      1.000000  0.022771
Y2018             0.022771  1.000000

In [84]:
print(FoodSheet.groupby('Y2018').agg({'Area': 'sum'}).head(50))

                                Area
Y2018
-3396.0                        Egypt
-2450.0                        Egypt
-2156.0                   EgyptEgypt
-1445.0                   Mozambique
-1442.0                   Mozambique
-1000.0                     Ethiopia
-913.0   United Republic of Tanzania
-682.0                        Rwanda
-598.0                      MaliMali
-597.0                  South Africa
-567.0                        Rwanda
-549.0                         Egypt
-529.0                        Zambia
-520.0                        Zambia
-502.0                         Ghana
-499.0                  South Africa
-434.0                         Niger
-423.0                         Ghana
-396.0                         Egypt
-374.0                       Nigeria
-373.0                       Nigeria
-363.0                  South Africa
-341.0                       Nigeria
-338.0                         Niger
-336.0                    Madagascar
-319.0                       Tunisia
-318.0                       Tunisia
-316.0                    Madagascar
-296.0                  South Africa
-280.0                       Nigeria
-273.0              ZimbabweZimbabwe
-271.0                        Uganda
-262.0                      Zimbabwe
-256.0                         Benin
-255.0                         Egypt
-254.0                        Uganda
-243.0                    Mozambique
-242.0                         Benin
-240.0                        Angola
-237.0             EgyptMalawiMalawi
-235.0                         Egypt
-234.0                  South Africa
-230.0                      Ethiopia
-226.0                         Egypt
-222.0                  South Africa
-220.0                         Egypt
-217.0                 EgyptZimbabwe
-215.0                         Egypt
-208.0                    GhanaGhana
-200.0                       Nigeria

In [99]:
FoodSheet['Y2015'].std()
FoodSheet['Y2015'].mean()

131.80086687560507

In [101]:
print(FoodSheet.groupby('Y2014').agg({'Element': 'sum'}).tail(50))

                                     Element
Y2014
17789.0             Domestic supply quantity
17798.0                           Production
18383.0                           Processing
18614.0             Domestic supply quantity
19240.0        Total Population - Both sexes
19436.0                           Production
19532.0             Domestic supply quantity
19582.0                      Import Quantity
19818.0                      Export Quantity
20000.0                                 Food
22648.0        Total Population - Both sexes
22682.0        Total Population - Both sexes
23328.0                           Production
23590.0        Total Population - Both sexes
23608.0                           Production
23610.0             Domestic supply quantity
24151.0                                 Food
24169.0                                 Food
24370.0             Domestic supply quantity
24517.0                           Production
24888.0                                 Food
26286.0        Total Population - Both sexes
26355.0                           Production
26641.0             Domestic supply quantity
26942.0        Total Population - Both sexes
27101.0                           Production
27224.0        Total Population - Both sexes
27938.0                                 Feed
29797.0                                 Feed
31480.0             Domestic supply quantity
32373.0                           Production
34192.0        Total Population - Both sexes
36912.0        Total Population - Both sexes
37978.0        Total Population - Both sexes
38923.0             Domestic supply quantity
38924.0        Total Population - Both sexes
39686.0                      Export Quantity
40144.0                           Production
44151.0             Domestic supply quantity
45152.0                           Production
46700.0        Total Population - Both sexes
49014.0                                 Food
49961.0        Total Population - Both sexes
54544.0        Total Population - Both sexes
56328.0   ProductionDomestic supply quantity
90425.0        Total Population - Both sexes
98094.0        Total Population - Both sexes
108756.0            Domestic supply quantity
109593.0                          Production
176405.0       Total Population - Both sexes

In [103]:
print(FoodSheet.groupby('Y2018').agg({'Element': 'sum'}).sort_values(by='Element',ascending=False))

                                                  Element
Y2018
544.0   Total Population - Both sexesProductionExport ...
2119.0  Total Population - Both sexesProductionDomesti...
959.0   Total Population - Both sexesFood supply (kcal...
1874.0                  Total Population - Both sexesFood
5244.0  Total Population - Both sexesDomestic supply q...
...                                                   ...
1872.0                           Domestic supply quantity
4205.0                           Domestic supply quantity
4163.0                           Domestic supply quantity
1882.0                           Domestic supply quantity
1271.0                           Domestic supply quantity

[4591 rows x 1 columns]

In [105]:
print(FoodSheet['Y2014'].sum())
print(FoodSheet['Y2015'].sum())
print(FoodSheet['Y2016'].sum())
print(FoodSheet['Y2017'].sum())
print(FoodSheet['Y2018'].sum())

7965086.130000001
8032340.2299999995
8112472.649999999
8375729.189999999
8554629.96